/* 通用樣式 */
* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/24px 'Taipei Sans TC Beta', 'sans-serif';
}

/* 設為首頁、收藏本站、日期、溫度的位置 */
.wp {
    width: 960px;
    margin: 0 auto;
}

/* top欄浮動左右內容 */
.L {
    float: left;
}

.R {
    float: right;
}

.cl {
    clear: both;
}

.mr_0 {
    margin: 0;
}

img {
    border: none;
}

/* top欄樣式 */
.top {
    width: 100%;
    height: 24px;
    line-height: 24px;
    background: #98caec;
    color: #1d4f91;
}

.top span {
    margin-right: 15px;
}

.top span.mr_0 {
    margin: 0;
}

/* top欄文字樣式 */
.top a {
    color: #00479D;
    text-decoration: none;
}

.top a:hover {
    color: #7E3505;
}

/* Logo */
.logos {
    height: 80px;
    margin: 10px;
}

/* 搜索 */
.search {
    width: 500px;
    height: 50px;
    margin-top: 10px;
}

.search td {
    height: 50px
}

.searchL {
    width: 6px;
    background: url("../images/searchL.jpg") no-repeat;
}

.searchC {
    width: 200px;
    background: url("../images/searchC.jpg") repeat-x;
}

.searchR {
    width: 144px;
    background: url("../images/searchR.jpg") no-repeat;
}

.searchC input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: none;
    margin-top: 2px
}

.searchR button {
    width: 144px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

/* 導航 */
.nav {
    height: 36px;
    width: 100%;
    background-color: #31609b;
}

.nav li {
    list-style: none;
    float: left;
    line-height: 35px;
    padding: 0 30px;
}

.nav li.a,
.nav li:hover {
    background-color: #2E769B;
}

.nav a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

/* banner */
.banner img {
    width: 700px;
    height: 400px;
}

/* center */
.banner {
    margin-bottom: 10px;
}

.title {
    padding-bottom: 0px;
    border-bottom: 2px solid #113285;
    position: relative;
    margin-bottom: 10px;
}

.title span {
    position: absolute;
    right: 0;
    bottom: 0;
}

.title a {
    color: #113285;
    text-decoration: none;
}

.introduction {
    width: 500px;
    height: 250px;
    margin-right: 20px;
}

.introContent img {
    float: left;
    margin: 0 10px 10px 0;
}

.introContent p {
    color: #302919;
    text-indent: 24px
}

/* 獲獎紀錄 */
.award {
    width: 400px;
    height: 320px;
}

.awardContent {}

.awardContent li {
    list-style: none;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    position: relative;
    padding-left: 15px;
    background: url("../images/icon-award.png") no-repeat center left;
    margin-bottom: 6px;
}

.awardContent li.a {
    background: none;
    padding: 0;
    height: 90px;
}

.awardContent li img {
    float: left;
    margin: 0 10px 0 0px;
}

.award span {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #888
}

.award h3 {
    font-weight: normal;
    font-size: 10px;
}

.awardContent a {
    color: #302919;
    text-decoration: none;
}

.awardContent p {
    font-size: 14px;
    color: #DB4D6D;
    text-indent: 24px;
}

/* 熱銷產品推薦 */
.product {
    width: 100%;
    height: 300px;
}

.productContent li {
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
    width: 150px;
    height: 95px;
    overflow: hidden;
    position: relative;
}

.productContent span {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    height: 20px;
    width: 130px;
    padding: 0 10px;
    background: #FFCD25;
    color: #3D5A53;
    overflow: hidden;
}

.productContent li a:hover span {
    display: block;

}

.productContent li img {
    float: left;
}

/* footer */
.footer {
    height: 100px;
    background: #98caec;
}

.footer_top {
    height: 80px;
    line-height: 80px;
    background: #98caec;
    color: brown;
}

.footer_top.L {
    font-size: 16px;
}

.footer_top a {
    color: brown;
    text-decoration: none;
}

/* media */
.media {
    position: fixed;
    bottom: 150px;
    right: 60px;
    list-style: none;
}

a.top {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 9999px;
    overflow: hidden;
    background: url(../images/blueArrow.png) no-repeat;
}

a.facebook {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 9999px;
    overflow: hidden;
    background: url(../images/facebook.png) no-repeat;
}

a.instagram {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 9999px;
    overflow: hidden;
    background: url(../images/instagram.png) no-repeat;
}

a.youtube {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 9999px;
    overflow: hidden;
    background: url(../images/youtube.png) no-repeat;
}